/* ============================================================ *
  #MAIN

  Site:        up-and-away-website
  Author:      Stephen Fairbanks
  packageName: up-and-away-website

/* ============================================================ */
/**
* CONTENTS
* 
* _SETTINGS
*  Variables for colors
*  Fonts
*  Settings - icons
*  Layout these are 'em' widths based on default font size of 16px;
*  Global variables
* 
* _TOOLS
*  Common Sass mixins
*  Common Sass functions
*  MIXIN Headings
*  Layout
*  Font declarations and settings
* 
* _GENERIC
*  Box-sizing
*  Generic - container
*  Normalize - sets all elements to a common state regardless of browser.
* 
* _ELEMENTS
*  ELEMENTS Headings
*  Icons
*  Links - styles for links
*  Elements - Lists.
*  Text
* 
* _OBJECTS
*  .grid
*  .wrapper
* 
* _COMPONENTS
*  Logo
* 
* CODE-SNIPPET
*  Atoms - Code snippet
* 
* TERMINAL
*  Atoms - Terminal
* 
* BANNER
*  Molecules - Banner
* 
* FEATURE-ITEM
*  Molecules - Feature Item
* 
* INSTRUCTIONS
*  Molecules - Instructions
* 
* LOADER
*  Molecules - Loader
* 
* MODULE-ITEM
*  Molecules - Module Item
* 
* SECTION-INTRO
*  Molecules - Section Intro
* 
* FEATURE-STRIP
*  Molecules - Feature Strip
* 
* GETTING-STARTED
*  Organisms getting started
* 
* MODULES
*  Organism - Modules
* 
* SITE-FOOTER
*  Organism Site-footer
* 
* SITE-HEADER
*  Site-Header
* 
* _TRUMPS
*  PERCENT CIRCLE ANIMATION
*  Styleguide.
*
*/
html { box-sizing: border-box; }

*,:after,:before { box-sizing: inherit; }

.container { margin: 0 auto; padding: 20px 10px; width: 100%; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio,canvas,progress,video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden],template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active,a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b,strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code,kbd,pre,samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button,input,optgroup,select,textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button,select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button,html input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled],html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type=checkbox],input[type=radio] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type=search] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td,th { padding: 0; }

/** Resets all margin and padding to 0 */
blockquote,body,caption,dd,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,legend,ol,p,pre,table,td,th,ul { margin: 0; padding: 0; }

.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5 { font-family: "Lato", "sans-serif"; font-weight: bold; line-height: 1.4; margin-bottom: 20px; }

.h1,h1 { font-size: 2.19727rem; }

.h2,h2 { font-size: 1.75781rem; }

.h3,h3 { font-size: 1.40625rem; }

.h4,h4 { font-size: 1.40625rem; }

.h5,h5 { font-size: 1.40625rem; }

.icon { display: inline-block; height: 50px; vertical-align: middle; width: 50px; }

.icon--cartridge { background: url("../images/svgs/cartridge.svg") no-repeat; }

.icon--cog { background: url("../images/svgs/cog.svg") no-repeat; }

.icon--fast { background: url("../images/svgs/fast.svg") no-repeat; }

.icon--bug { background: url("../images/svgs/bug.svg") no-repeat; }

a { color: #0095ff; font-size: 1.125rem; font-weight: 300; line-height: 1.4; text-decoration: none; }

a:active,a:focus,a:hover { text-decoration: underline; }

.btn { color: #0095ff; font-size: 1.125rem; font-weight: 300; line-height: 1.4; text-decoration: none; background-color: #eaeaea; color: #000; transition: all ease-in 0.2s; display: inline-block; font-family: "Lato", "sans-serif"; font-weight: bold; margin: 10px; padding: 15px 30px; }

.btn:active,.btn:focus,.btn:hover { text-decoration: underline; }

.btn:active,.btn:focus,.btn:hover { background-color: #d1d1d1; text-decoration: none; }

.btn:first-child { margin-left: 0; }

.btn--primary { background-color: #d5033e; color: #fff; transition: all ease-in 0.2s; }

.btn--primary:active,.btn--primary:focus,.btn--primary:hover { background-color: #a3022f; text-decoration: none; }

.btn--secondary { background-color: #0095ff; color: #fff; transition: all ease-in 0.2s; }

.btn--secondary:active,.btn--secondary:focus,.btn--secondary:hover { background-color: #0077cc; text-decoration: none; }

.list,ul { margin-bottom: 20px; padding-left: 20px; }

body { font-family: "Lato", "sans-serif"; font-size: 1.125rem; font-weight: 300; line-height: 1.4; }

p { margin-bottom: 20px; }

.keyword { background-color: #2a3d51; color: #fff; font-size: 0.9rem; padding: 5px; }

.grid { display: -webkit-box; display: flex; flex-wrap: wrap; list-style: none; padding-left: 0; }

.grid__column { border: 10px solid #fff; border-left: none; border-right: none; width: 100%; }

.grid__row { display: block; padding: 10px 20px; width: 100%; }

.grid__row:first-child { padding-top: 20px; }

.grid__row:last-child { padding-bottom: 20px; }

.getting-started__wrapper { margin: 20px auto; max-width: 1024px; }

.o-journey-inner,.o-journey-inner.hide { background: #05b5fe url("https://preview.ibb.co/h32upF/sky_background_clouds.jpg") repeat-x; opacity: 0; text-align: center; transition: opacity 0.2s ease-out, background-position 0.2s ease-in-out; background-position: 50% 120%; }

.o-journey-inner.hide h1,.o-journey-inner h1 { transition: -webkit-transform 0.2s ease-out; transition: transform 0.2s ease-out; transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; -webkit-transform: translate(0, 10px); transform: translate(0, 10px); }

.o-journey-inner.ready,.o-journey-inner.show { opacity: 1; background-position: 50% 100%; }

.o-journey-inner.ready h1,.o-journey-inner.show h1 { -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.o-journey-wrapper { height: 100vh; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.logo { background: url("../images/svgs/cartridge-logo.svg") no-repeat 0 0; display: inline-block; height: 48px; text-indent: -9999px; width: 183px; }

.logo--big { background: url("../images/svgs/cartridge-logo-big.svg") no-repeat center; height: 150px; width: 250px; }

.code-snippet { background: #2a3d51; border-radius: 5px; color: #fff; display: inline-block; padding: 5px 10px; }

.terminal { display: block; margin-bottom: 20px; text-align: left; }

.terminal__header { background: #eaeaea; border-top-left-radius: 5px; border-top-right-radius: 5px; height: 30px; }

.terminal__header-option { border-radius: 50%; display: inline-block; height: 12px; margin: 10px 3.33333px; width: 12px; }

.terminal__header-option:first-child { margin-left: 10px; }

.terminal__header-option--close { background-color: #c4371b; }

.terminal__header-option--shrink { background-color: #f3c700; }

.terminal__header-option--expand { background-color: #01b058; }

.terminal__list { background: #2a3d51; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; list-style: none; margin: 0; padding: 20px 10px; }

.terminal__item { margin-bottom: 20px; visibility: visible; }

.terminal__text { color: #fff; }

.terminal__text--command-blue { color: #0095ff; display: block; }

.terminal__text--command-standout { color: #d9e608; }

[data-typewriter-visible=true],[data-typewriter-visible] { visibility: visible; }

[data-typewriter-visible=false] { visibility: hidden; }

.no-js [data-typewriter-visible=false] { visibility: visible; }

.no-js [data-typewriter-content]:before { content: attr(data-typewriter-content); }

.banner { background: #0095ff; color: #fff; padding: 20px; text-align: center; width: 100%; }

.banner__container { margin: 0 auto; padding: 20px 10px; width: 100%; }

.banner__heading { margin: 0 auto 20px; max-width: 640px; }

.feature-item { display: block; padding: 0 20px; text-align: center; }

.feature-item .icon { margin-bottom: 15px; }

.feature-item__text { max-width: 100%; }

.instructions { border-radius: 5px; background: #eaeaea; padding: 10px; text-align: center; }

.instructions__list { list-style: none; margin: 0 auto; max-width: 30em; padding: 0; }

.instructions__list-item { display: block; margin-top: 20px; }

.instructions__code-snippet { margin: 20px auto; }

.c-loader { transition: opacity 0.2s ease-out, z-index linear, -webkit-transform 0.2s ease-out; transition: opacity 0.2s ease-out, z-index linear, transform 0.2s ease-out; transition: opacity 0.2s ease-out, z-index linear, transform 0.2s ease-out, -webkit-transform 0.2s ease-out; -webkit-transform: scale(0); transform: scale(0); z-index: -1; opacity: 0; position: fixed; width: 50px; height: 50px; top: 50%; left: 50%; margin-left: -25px; margin-top: -25px; }

body.loading .c-loader { -webkit-transform: scale(1); transform: scale(1); z-index: 10; opacity: 1; }

.c-loader__svg-circle { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; stroke-width: 30px; stroke: #00b1e7; fill: transparent; stroke-dasharray: 50; stroke-dashoffset: 800; }

.modules { display: -webkit-box; display: flex; flex-wrap: wrap; -webkit-box-pack: center; justify-content: center; list-style: none; padding: 0; text-align: center; }

.modules .icon { display: block; margin: 10px auto; }

.modules__item { padding: 20px; width: 100%; }

.modules__circle { background: #fff; border: 2px solid #000; border-radius: 50%; display: inline-block; height: 160px; position: relative; transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.5, 1.275); transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.5, 1.275); transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.5, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.5, 1.275); width: 160px; }

.modules__wrapper .modules__circle { border: 0; }

.modules__circle:active,.modules__circle:focus,.modules__circle:hover { outline: 0; -webkit-transform: scale(0.9); transform: scale(0.9); }

.modules__content { color: #000; left: 0; padding: 0 20px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 100%; }

.modules__content:active,.modules__content:focus,.modules__content:hover { text-decoration: none; }

.section-intro { text-align: center; }

.section-intro p { margin: 20px auto; }

.feature-strip { padding: 20px; }

.getting-started__wrapper { margin: 0 auto; padding: 20px 10px; width: 100%; text-align: center; }

.getting-started__wrapper p { margin: 20px auto; }

.modules { background: #d9e608; }

.modules__wrapper { margin: 0 auto; padding: 20px 10px; width: 100%; }

.site-footer { background: #eaeaea; padding: 20px; text-align: center; }

.site-footer__list { list-style: none; margin: 0 auto; padding: 0; }

.site-footer__list-item { margin: 10px 0; }

.site-footer__link { color: #000; font-size: 0.875rem; font-weight: bold; }

.site-footer__copyright { font-size: 0.875rem; margin: 20px auto; }

.header { display: -webkit-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row nowrap; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; padding: 12px 10px; background: #0095ff; }

.header__wrapper { margin: 0 auto; padding: 20px 10px; width: 100%; padding: 0; position: relative; }

.header-nav { height: 0; overflow: hidden; transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); visibility: hidden; }

.header--nav-open .header-nav,.no-js .header-nav { visibility: visible; }

.no-js .header-nav { height: auto; }

.header-nav-list { list-style: none; margin-bottom: 0; padding-left: 0; }

.header-nav__item { display: block; transition: margin 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.header-nav__item:first-child { margin-left: 0; }

.header-nav__item__link { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: block; font-size: 16px; font-size: 1rem; font-weight: bold; color: #fff; transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.header-nav__item__link:hover { text-decoration: none; color: #d9e608; }

.menu-toggle { display: inline-block; float: right; height: 14px; line-height: 10px; line-height: 0.625rem; position: absolute; right: 20px; top: 16.66667px; }

.menu-toggle:hover { cursor: pointer; }

.no-js .menu-toggle { display: none; }

.menu-toggle__label { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.menu-toggle__burger { position: relative; display: inline-block; vertical-align: middle; width: 16px; height: 2px; background: #fff; transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.menu-toggle__burger:after,.menu-toggle__burger:before { content: ''; position: absolute; left: 0; display: block; width: 100%; height: 2px; background: #fff; transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.menu-toggle__burger:before { -webkit-transform: translateY(-6px); transform: translateY(-6px); }

.menu-toggle__burger:after { -webkit-transform: translateY(6px); transform: translateY(6px); }

.header--nav-open .menu-toggle__burger { background: transparent; }

.header--nav-open .menu-toggle__burger:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.header--nav-open .menu-toggle__burger:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

@-webkit-keyframes anim-circle-border { 0% { stroke-dashoffset: 600; }
  50% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -600; } }

@keyframes anim-circle-border { 0% { stroke-dashoffset: 600; }
  50% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -600; } }

.u-rotate { -webkit-animation: anim-circle-border 1.6s ease-in-out infinite alternate; animation: anim-circle-border 1.6s ease-in-out infinite alternate; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  to { opacity: 1; } }

.styleguide__section { border-bottom: 1px solid #eaeaea; }

.styleguide__advantage-bold { font-family: "Lato", "sans-serif"; font-weight: bold; }

.styleguide__column { background: #eaeaea; padding: 20px; }

.styleguide__colour-block { display: block; margin: 0; padding: 20px; text-align: center; }

.styleguide__colour-block--highlight,.styleguide__colour-block--primary,.styleguide__colour-block--secondary { color: #fff; }

.styleguide__colour-block--standout,.styleguide__colour-block--tertiary { color: #000; }

.styleguide__colour-block--primary { background-color: #d5033e; }

.styleguide__colour-block--secondary { background-color: #0095ff; }

.styleguide__colour-block--tertiary { background-color: #eaeaea; }

.styleguide__colour-block--standout { background-color: #d9e608; }

.styleguide__colour-block--highlight { background-color: #2a3d51; }

.styleguide__colour-block .styleguide__advantage-bold { display: block; }

.styleguide { counter-reset: section; }

.styleguide__counter { counter-increment: section; }

.styleguide__counter:before { color: #0095ff; content: "0" counter(section); margin-right: 10px; }

.styleguide__logo-box { height: 300px; padding: 20px; position: relative; }

.styleguide__logo-box--blue { background-color: #0095ff; }

.styleguide__logo-box .logo { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.styleguide__section .modules { background: #d9e608; }

.styleguide__section .modules__circle { border: 0; }

@media screen and (min-width: 25em) {
 .modules__circle { height: calc(480px / 2); width: calc(480px / 2); } }

@media screen and (min-width: 30em) {
 .modules__item { width: 50%; }
 .modules__circle { height: calc(320px / 2); width: calc(320px / 2); }
 .header-nav__item { display: inline-block; margin-left: 1.5em; } }

@media screen and (min-width: 30em) and (max-width: 48em) {
 .header--nav-open .header-nav,.no-js .header-nav { margin-bottom: 20px; } }

@media screen and (min-width: 40em) {
 .h1,h1 { font-size: 2.74658rem; }
 .h2,h2 { font-size: 2.19727rem; }
 .h3,h3 { font-size: 1.75781rem; }
 p { max-width: 35em; }
 .grid__column { border: 10px solid #fff; }
 .grid--2 .grid__column { width: 50%; }
 .grid--2 .grid__column:nth-child(odd) { border-left: none; }
 .grid--2 .grid__column:nth-child(2n) { border-right: none; }
 .grid--3 .grid__column { border-left: none; border-right: none; }
 .terminal__list { padding: 20px; }
 .terminal__text--command-blue { display: inline-block; }
 .terminal__text { display: inline-block; }
 .modules__item { width: 33%; }
 .site-footer__list-item { display: inline-block; margin: 10px; }
 .site-footer__list-item:first-child { margin-left: 0; }
 .site-footer__list-item:last-child { margin-right: 0; } }

@media screen and (min-width: 40em) and (max-width: 48em) {
 .grid--2 .grid__column,.grid--4 .grid__column { width: 50%; }
 .grid--2 .grid__column:nth-child(odd),.grid--4 .grid__column:nth-child(odd) { border-left: none; }
 .grid--2 .grid__column:nth-child(2n),.grid--4 .grid__column:nth-child(2n) { border-right: none; } }

@media screen and (min-width: 48em) {
 .grid--3 .grid__column { border: 10px solid #fff; width: 33.3%; }
 .grid--3 .grid__column:first-child { border-left: none; }
 .grid--3 .grid__column:last-child { border-right: none; }
 .grid--4 .grid__column { width: 25%; }
 .grid--4 .grid__column:nth-child(4n+1) { border-left: none; }
 .grid--4 .grid__column:nth-child(4n+0) { border-right: none; }
 .logo--big { height: 200px; }
 .modules__item { width: 25%; }
 .header { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
 .header-nav { display: inline-block; height: auto; float: right; position: relative; top: 10px; visibility: visible; }
 .menu-toggle { display: none; } }

@media screen and (min-width: 64em) {
 .container { max-width: 1024px; }
 .grid { margin: 0 auto; max-width: 1024px; }
 .banner__container { max-width: 1024px; }
 .modules__circle { height: calc(768px / 4); width: calc(768px / 4); }
 .getting-started__wrapper { max-width: 1024px; }
 .modules__wrapper { max-width: 1024px; }
 .header__wrapper { max-width: 1024px; }
 .header-nav__item { margin-left: 2.25em; } }

@media screen and (max-width: 48em) {
 .header__wrapper { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
 .header-nav { margin-top: 20px; } }

@media screen and (max-width: 30em) {
 .header-nav { border-top: 1px solid rgba(255, 255, 255, 0.5); }
 .header-nav__item { padding: 10px 20px; } }

/*# sourceMappingURL=main.css.map */
